<div class="jumbotron">
  <h1>A Waiter Has Been Notified</h1>
  <p>Your waiter will be with you momentarily to confirm your order</p>
  <p><a class="btn btn-primary btn-lg" href="/public/welcome" role="button">Cancel</a></p>
</div>
