<h1>Public#order</h1>
<p>Find me in app/views/public/order.html.erb</p>

<p> Selected Maindish:
    <%= @selectedDish %>
    <%= @aMaindish.id %>
</p>
<p> Pairings:
  <ul id = "public">
    <% @beerPairings.all.each do |bp| %>
    <% @beerID = bp.beer_id %>

    <li><%= Beer.find_by(id: @beerID).name %></li>
    <%end%>
  </ul>


</p> All the dishes:
    <ul id = "public">
     <% Maindish.all.each do |c| %>
     <li><%= c.name %></li>
     <% end %>
    </ul>



<form action="order" method="get">
      <label for="maindish">What would you like to eat?</label>
      <input type="select" name="order_name" id="maindish" required/>
      <input type="submit" value="Submit order" required/>
    </form>
