<form action="beverage_pairing" method="get">
  Select Beverage Preference:
  <div class="form-check">
    <input class="form-check-input" type="radio" name="beverage_selection" id="beerRadio" value="beer" checked>
    <label class="form-check-label" for="beerRadio">
      Beer
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="beverage_selection" id="wineRadio" value="wine">
    <label class="form-check-label" for="wineRadio">
      wine
    </label>
  </div>
  <label for="maindish">Please enter the meal you'd like from the list below</label>
  <input type="select" name="order_name" id="maindish" required/>
  <input type="submit" value="Submit order" required/>
</form>

Main dishes:
    <ul id = "public">
     <% Maindish.all.each do |c| %>
     <li><%= c.name %></li>
     <% end %>
    </ul>
